---
---

@import "{{ site.theme }}";  /* Loads Cayman base styles */

/* Your custom overrides here */
.btn-github, footer .footer {
  display: none !important;
}

/* Content area at 75% width */
.page, .page .inner, .container, .content, main {
  width: 75% !important;
  max-width: 2000px !important;
  margin: 0 auto !important;
  padding: 0 10px !important;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}
thead {
  background-color: #f2f2f2;
}
audio {
  width: 100%;
}
.model-comparisons td {
  width: 16.66%; /* Equal width for 5 columns */
  min-width: 220px; /* Match cell width across tables */
}
.reference-files td {
  width: 100%; /* Equal width for 2 columns */
  min-width: 220px; /* Same cell width as Model Comparisons */
}


// /* Responsive adjustments */
// @media screen and (max-width: 768px) {
//   .page, .page .inner, .container, .content, main {
//     width: 75% !important;
//     padding: 0 10px !important;
//   }
//   .model-comparisons td, .reference-files td {
//     width: 750%;
//     display: block;
//   }
// }
